<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>details</title>
</head>
<body>
  <header>
    <div>
      <a href="/users">
        <button>Back</button>
      </a>
    </div>
  </header>
  <main>
    <div>
      <h2><%= user.name %></h2>
      <h2><%= user.email %></h2>
      <h2><%= user.password %></h2>
      <h2><%= user.age %></h2>
      <h2><%= user.phone %></h2>
    </div>
     <div>
      <a href="/users/login">
        <button>Log Out</button>
      </a>
    </div>
  </main>
</body>
</html>